.eliminar {
    display: flex;
    flex-direction : column;
    gap: 24px;
}

.eliminar div {
    width: 100%;
}
.formulario NavLink[type="submit"] {
    background: #6da9ed;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color:white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 80px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.formulario input[type="submit"]:hover{
    background-color: #2e64a1;
}